<div class="header position-fixed top-0">
	<h1 class="font-size-28 font-weight-semibold">Notes</h1>
	
	<div class="position-relative">
		<div class="right-section">
			<span class="display-inline-block margin-top--15"
				ng-show="noteService.show_create">
				<input type="text" class="form-field" ng-model="noteService.new_note_title" />
				<button type="button" class="button"
					ng-click="noteService.create()">Create</button>
				<button type="button" class="button"
					ng-click="noteService.show_create = false">Cancel</button>
			</span>
			
			<a href="#" class="button"
				ng-show="!noteService.show_create"
				ng-click="noteService.show_create = true">New</a>
				
			<a href="#" class="button margin-left-8"
				ng-show="noteService.current_note"
				ng-click="noteService.save()">Save</a>
		</div>
	</div>
</div>

<div class="margin-top-70">
	<div class="sidebar position-fixed min-height-100%">
		<div ng-repeat="note in noteService.notes">
			<a href="#" class="sidebar-link display-block padding-13"
				ng-click="noteService.get_note(note)"
				ng-bind="note.title"></a>
			<a href="#" class="delete-link display-none"><span>×</span></a>
		</div>
	</div>

	<div class="note-editor">
		<textarea class="border-none outline-none width-100% font-size-16"
			ng-model="noteService.current_note.body"></textarea>
	</div>
</div>
