<div class="header position-fixed top-0">
	<h1 class="font-size-28 font-weight-semibold">Notes</h1>
	
	<div class="position-relative">
		<a href="#" class="button right-button"
			ng-click="noteService.save()">Save</a>
	</div>
</div>

<div class="margin-top-70">
	<div class="sidebar position-fixed min-height-100%">
		<div ng-repeat="note in noteService.notes">
			<a href="#" class="sidebar-link display-block padding-13"
				ng-click="noteService.get_note(note)"
				ng-bind="note.title"></a>
			<a href="#" class="delete-link display-none"><span>×</span></a>
		</div>
	</div>

	<div class="note-editor" contenteditable
		ng-bind="noteService.current_note.body"></div>
</div>
