<div class="header position-fixed top-0">
	<h1 class="font-size-28 font-weight-semibold">Notes</h1>
	
	<div class="position-relative">
		<a href="#" class="button right-button">Save</a>
	</div>
</div>

<div class="margin-top-70">
	<div class="sidebar position-fixed min-height-100%">
		<a href="#" class="sidebar-link display-block padding-13">A Note</a>
		<a href="#" class="delete-link display-none"><span>×</span></a>
		<a href="#" class="sidebar-link display-block padding-13">A Note</a>
		<a href="#" class="delete-link display-none"><span>×</span></a>
		<a href="#" class="sidebar-link display-block padding-13">A Note</a>
		<a href="#" class="delete-link display-none"><span>×</span></a>
	</div>

	<div class="note-editor">
		<textarea class="border-none outline-none width-100% font-size-16"></textarea>
	</div>
</div>
